/* box-sizing: border-box;を設定 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* フォントサイズの拡大を防ぐ */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* bodyのデフォルトを設定 */
body {
	margin: 0;
	min-height: 100vh;
	line-height: 1.5;
}

/* デフォルトのマージンを削除、作成するCSSの制御を改善するため */
p, figure, blockquote, dl, dd {
	margin: 0;
}

span {
	display: inline-block;
}

/* リストのスタイルを削除、これはデフォルトのスタイルが削除されることを示唆します */
ul, ol {
	margin: 0;
	padding-left: 1em;

	&[role="list"] {
		list-style: none;
	}
}

/* 見出しやインタラクティブ要素のline-heightを設定 */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.1;
}

button, input {
	line-height: 1;
	font: inherit;
	color: inherit;
	background: transparent;
	border: solid 1px;
	border-radius: 0;
	padding: 4px;
}

button:not(:disabled) {
	cursor: pointer;
}

textarea {
	font: inherit;
	color: inherit;
	background: transparent;
	border: solid 1px;
	border-radius: 0;
	padding: 4px;

	&:not([rows]) {
		min-height: 10em;
	}
}

label {
	line-height: 1;
}

/* classを持たないa要素はデフォルトのスタイルを継承 */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* 画像の扱いを簡単にする */
img,
picture {
	max-width: 100%;
	display: block;
}

/* inputやbuttonなどのfontは継承 */
select {
	font: inherit;
}

/* アンカーされている要素には余分なスクロールマージンが必要 */
:target {
	scroll-margin-block: 1em;
}

[hidden] {
	display: none !important;
}